Geocadastr_0_1/DocControlSolution/DocControlAI/Models/meta-llama-3-8b-instruct.Q4_K_M.gguf
Geocadastr_0_1/DocControlSolution/DocControlAI/bin/Debug/net6.0/Models/meta-llama-3-8b-instruct.Q4_K_M.gguf
Geocadastr_0_1/DocControlSolution/DocControlService/bin/Debug/net6.0-windows/DocControl.db
Geocadastr_0_1/DocControlSolution/DocControlUI/bin/Debug/net6.0-windows/Models/meta-llama-3-8b-instruct.Q4_K_M.gguf
Geocadastr_0_1/DocControlSolution/DocControlService/bin/Debug/net6.0-windows/Models/meta-llama-3-8b-instruct.Q4_K_M.gguf
Geocadastr_0_1/DocControlSolution/DocControlService/bin/Debug/net6.0-windows/DocControl.db
*/bin
*/obj
/Geocadastr_0_1/DocControlSolution/DocControlAI/bin
/Geocadastr_0_1/DocControlSolution/DocControlUI/bin
/Geocadastr_0_1/DocControlSolution/DocControlService/bin
